.navigation {
  display: none;
}

.top-section {
  background-color: #f3c6bd;
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.header__buttom {
  display: none;
}

.header__menu-buttom {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}

.header__menu-buttom-icon {
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  display: inline-block;
}

.logo {
  display: flex;
  height: 60px;
  width: 299px;
}

.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo__image {
  height: 48px;
  width: 48px;
  margin-right: 13px;
}

.logo__name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}

.logo__description {
  display: none;
}

.navigation__item {
  line-height: 25px;
  font-size: 18px;
  color: #2b292d;
  text-decoration: none;
  margin-left: 50px;
}

.navigation__item_selected {
  font-weight: 700;
}

.navigation__item:last-child {
  margin-right: 0;
}

.navigation__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  background-image: url(img/arrow.png);
  margin-left: 11px;
}

@media screen and (min-width: 400px) {
  .header {
    height: 62px;
    width: 1140px;
    margin: auto;
    display: flex;
    background-color: #f3c6bd;
  }

  .top-section {
    background-color: #f3c6bd;
    padding: 39px;
  }

  .navigation {
    display: block;
    margin-top: 7px;
    margin-left: auto;
    margin-right: 75px;
  }

  .header__menu-buttom {
    display: none;
  }

  .header__buttom {
    display: block;
  }

  .logo__description {
    line-height: 25px;
    font-size: 18px;
    color: #2b292d;
    opacity: 0.6;
  }

  .logo__image {
    height: 60px;
    width: 60px;
    margin-right: 15px;
  }
}
.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.about-company {
  margin-top: 43px;
}

.footer-navigation {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  height: 339px;
}

.footer__description {
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: rgba(43, 41, 45, 0.6);
}

.downloads {
  margin-top: 25px;
}

.downloads__items {
  margin-right: 10px;
}

.additional-navigation {
  margin-top: 60px;
  margin: auto;
  display: flex;
}

.nav-links {
  width: 265px;
}

.additional-navigation___column {
  margin-right: 29px;
}

.nav-links___title {
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  font-weight: 700;
  margin: 0;
}

.userful-link {
  width: 1140px;
  height: 338px;
  margin: 0 auto;
}

.footer__line {
  border-top: 1px solid #2b292d;
  width: 100%;
  margin: 0;
  opacity: 0.1;
}

.footer-links {
  display: flex;
  width: 1140px;
  margin: 0 auto;
  height: 50px;
  align-items: center;
}

.terms {
  font-size: 14px;
  line-height: 50px;
}

.terms__item {
  text-decoration: none;
  color: #2b292d;
  opacity: 60%;
  margin-right: 22px;
}

.social-links {
  margin-left: auto;
}

.social-links__item {
  margin-left: 20px;
}

.nav-link___list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: rgba(43, 41, 45, 0.6);
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.headline {
  width: 100%;
}

.headline__content {
  margin: 35px 15px 24px 15px;
}

.headline__title {
  height: 205px;
  width: 290px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}

.headline__learn-more-buttom {
  height: 48px;
  width: 158px;
  background-color: #ffffff;
  font-size: 18px;
  color: #3040c4;
  line-height: 13px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}

.headline__action-btn {
  width: 100%;
}

.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}

.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}

.headline__action {
  margin-top: 30px;
}

@media screen and (min-width: 400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }

  .headline__content {
    position: absolute;
    z-index: 1;
  }

  .headline__title {
    height: 165px;
    width: 754px;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin: 0;
    z-index: 1;
  }

  .headline__description {
    margin-top: 34px;
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
  }

  .headline__action {
    margin-top: 58px;
    display: flex;
  }

  .headline__learn-more-buttom {
    margin: 0;
    margin-left: 10px;
  }

  .headline__learn-more-buttom {
    margin-left: 10px;
    height: 48px;
    width: 158px;
    background-color: #ffffff;
    font-size: 18px;
    color: #3040c4;
    line-height: 13px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
  }

  .headline__banner {
    position: relative;
    right: -105px;
    width: 796px;
    height: 448px;
    top: 0;
    margin-left: auto;
  }
}
.action-buttom {
  height: 48px;
  width: 100%;
  background-color: #3040c4;
  font-size: 18px;
  color: #ffffff;
  line-height: 13px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  padding: 17px 28px 18px 28px;
}

@media screen and (min-width: 400px) {
  .action-buttom {
    height: 48px;
    width: 160px;
    background-color: #3040c4;
    font-size: 18px;
    color: #ffffff;
    line-height: 13px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    padding: 17px 28px 18px 28px;
  }
}
.about {
  padding: 46px 15px 46px 15px;
  width: 100%;
  background-color: #f4f5f7;
}

.article:last-child {
  margin-top: 20px;
}

.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}

.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 6px;
}

@media screen and (min-width: 400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 131px 76px 130px;
  }

  .article {
    width: 555px;
  }

  .article:last-child {
    margin-top: 0;
  }
}
.customers {
  display: flex;
  flex-direction: column;
}

.customers__row {
  display: flex;
}

.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.customers__item:last-child {
  border-right: none;
}

.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

@media screen and (min-width: 400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }

  .customers__item {
    border: 0;
  }

  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.features {
  display: flex;
  position: relative;
}

@media screen and (max-width: 400px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}

.features__column {
  width: 459px;
}

.features__subtitle {
  color: #009b4d;
  font-weight: 700px;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
}

.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}

.features__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 0;
}

.features__advantage-header {
  line-height: 42px;
  margin-top: 42px;
  display: flex;
}

.features__advantage-title {
  margin: 0;
  margin-left: 15px;
  color: #3142c6;
  line-height: 26px;
  font-weight: 700px;
  font-size: 22px;
}

.features__advantage-text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}

.features__advantage-item {
  display: flex;
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
}

.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}

.features__left-decoration {
  position: absolute;
  height: 166px;
  top: 258px;
}

.features__banner {
  position: absolute;
  right: 0;
}

.advices {
  margin-top: 8px;
}

.advice {
  padding: 40px 15px 0px 15px;
  border-bottom: 1px solid #e3e3e3;
}

.advice__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}

.advice__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}

.advice__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}

.advice__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advice__image {
  margin-top: 29px;
}

.advice__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
  margin-top: 20px;
  max-width: 100%;
}

@media screen and (min-width: 400px) {
  .advices {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}

@media screen and (min-width: 400px) {
  .page {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}