.action-buttom {
  height: 48px;
  width: 100%;
  background-color: #3040c4;
  font-size: 18px;
  color: #ffffff;
  line-height: 13px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  padding: 17px 28px 18px 28px;
}
@media screen and (min-width: 1400px) {
  .action-buttom {
    width: 160px;
    height: 48px;
  }
}

.hide_desktop {
  display: none;
}
@media screen and (min-width: 1400px) {
  .hide_desktop {
    display: none;
  }
}

.navigation {
  display: none;
}
@media screen and (min-width: 1400px) {
  .navigation {
    display: block;
    margin-top: 7px;
    margin-left: auto;
    margin-right: 75px;
  }
}
.navigation__item {
  color: #2b292d;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  margin-right: 50px;
}

.top-section {
  background-color: #f3c6bd;
}
@media screen and (min-width: 1400px) {
  .top-section {
    background-color: #f3c6bd;
    padding: 39px;
  }
}

.header {
  height: 64px;
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 15px;
}
@media screen and (min-width: 1400px) {
  .header {
    height: 62px;
    width: 1140px;
    margin: auto;
    display: flex;
    background-color: #f3c6bd;
  }
}
.header__buttom {
  display: none;
}
@media screen and (min-width: 1400px) {
  .header__buttom {
    display: block;
  }
}
.header__menu-buttom {
  width: 58px;
  border: none;
  border-left: 1px solid #00000026;
  height: 100%;
  margin-left: auto;
  background: transparent;
}
@media screen and (min-width: 1400px) {
  .header__menu-buttom {
    display: none;
  }
}
.header__menu-buttom-icon {
  width: 18px;
  height: 13px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-hamburger.png);
  display: inline-block;
}
.header__item {
  line-height: 25px;
  font-size: 18px;
  color: #2b292d;
  text-decoration: none;
  margin-left: 50px;
}
.header__item_selected {
  font-weight: 700;
}
.header__item:last-child {
  margin-right: 0;
}
.header__arrow {
  display: inline-block;
  height: 5px;
  width: 8px;
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  margin-left: 11px;
}

.logo {
  display: flex;
  height: 60px;
  width: 299px;
}
@media screen and (min-width: 1400px) {
  .logo {
    display: flex;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.logo__image {
  height: 48px;
  width: 48px;
  margin-right: 13px;
}
@media screen and (min-width: 1400px) {
  .logo__image {
    height: 60px;
    width: 60px;
    margin-right: 15px;
  }
}
.logo__name {
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
}
.logo__description {
  display: none;
}
@media screen and (min-width: 1400px) {
  .logo__description {
    display: block;
    line-height: 25px;
    font-size: 18px;
    color: #2b292d;
    opacity: 0.6;
  }
}
.logo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headline {
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .headline {
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }
}
.headline__content {
  margin: 35px 15px 33px;
}
@media screen and (min-width: 1400px) {
  .headline__content {
    margin: 0;
    position: absolute;
    z-index: 1;
  }
}
.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}
@media screen and (min-width: 1400px) {
  .headline__banner {
    position: relative;
    right: -105px;
    top: 0;
    width: 796px;
    height: 448px;
    margin-left: auto;
  }
}
.headline__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}
@media screen and (min-width: 1400px) {
  .headline__title {
    margin: 0;
    width: 754px;
    height: 165px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    z-index: 1;
  }
}
.headline__description {
  margin-top: 24px;
  z-index: 1;
  font-size: 24px;
  line-height: 34px;
}
@media screen and (min-width: 1400px) {
  .headline__description {
    margin-top: 34px;
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
    margin-bottom: 0;
  }
}
.headline__actions {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .headline__actions {
    display: flex;
    margin-top: 58px;
  }
}
.headline__learn-more-btn {
  background-color: #fff;
  color: #3040c4;
  width: 158px;
  height: 48px;
  font-weight: 700;
  outline: none;
  border: none;
  border-radius: 2px;
  margin-top: 15px;
}
@media screen and (min-width: 1400px) {
  .headline__learn-more-btn {
    margin-left: 10px;
    margin-top: 0;
  }
}
@media screen and (max-width: 1399px) {
  .headline__action-btn {
    width: 100%;
  }
}

.about {
  padding: 46px 15px 46px 15px;
  width: 100%;
  background-color: #f4f5f7;
}
@media screen and (min-width: 1400px) {
  .about {
    display: flex;
    justify-content: space-between;
    padding: 77px 131px 76px 130px;
  }
}

@media screen and (min-width: 1400px) {
  .article {
    width: 555px;
  }
}
.article:last-child {
  margin-top: 20px;
}
@media screen and (min-width: 1400px) {
  .article:last-child {
    margin-top: 0;
  }
}
.article__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 32px;
  margin: 0;
}
.article__text {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  margin-top: 6px;
}

.customers {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .customers {
    width: 1140px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 106px;
    flex-direction: row;
  }
}
.customers__row {
  display: flex;
}
@media screen and (min-width: 1400px) {
  .customers__row {
    flex: 1;
    justify-content: space-around;
  }
}
.customers__item {
  height: 94px;
  width: 107px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.customers__item:last-child {
  border-right: none;
}
@media screen and (min-width: 1400px) {
  .customers__item {
    border: 0;
  }
}
.customers__logo {
  filter: brightness(0);
  max-width: 80%;
}

.features {
  display: flex;
  position: relative;
}
@media screen and (max-width: 1399px) {
  .features {
    display: none;
  }
}
.features__content {
  width: 1140px;
  margin: auto;
  display: flex;
}
.features__column {
  width: 459px;
  margin-bottom: 13px;
}
.features__subtitle {
  color: #009b4d;
  font-weight: 700px;
  font-size: 22px;
  line-height: 34px;
  margin: 0;
}
.features__title {
  font-weight: 700;
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -0.5px;
  margin-top: 24px;
  margin-bottom: 0;
}
.features__description {
  font-size: 24px;
  line-height: 34px;
  margin-top: 30px;
  margin-bottom: 0;
}
.features__advantage-header {
  line-height: 42px;
  margin-top: 42px;
  display: flex;
}
.features__advantage-title {
  margin: 0;
  margin-left: 15px;
  color: #3142c6;
  line-height: 26px;
  font-weight: 700px;
  font-size: 22px;
}
.features__advantage-text {
  font-size: 18px;
  line-height: 26px;
  margin-top: 8px;
  margin-bottom: 0;
  padding-bottom: 20px;
  border-bottom: 3px solid #3142c6;
}
.features__advantage-item {
  display: flex;
  border-bottom: 1px solid #2b292d26;
  margin-top: 21px;
  padding-bottom: 22px;
}
.features__advantage-item-text {
  font-weight: 700;
  font-size: 22px;
  line-height: 26px;
  margin-left: 15px;
}
.features__left-decoration {
  position: absolute;
  height: 166px;
  top: 258px;
}
.features__banner {
  position: absolute;
  right: 0;
}

.audience {
  padding: 16px;
  background: #00a1c612;
}
@media screen and (min-width: 1400px) {
  .audience {
    padding: 108px;
  }
}
.audience__desctiption {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .audience__desctiption {
    margin-top: 0;
    width: 555px;
    margin: auto;
  }
}
.audience__title {
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  text-align: center;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__title {
    margin-bottom: 24px;
  }
}
.audience__subtitle {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.357143px;
  text-align: center;
  color: #2b292d;
}
@media screen and (min-width: 1400px) {
  .audience__subtitle {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 30px;
    letter-spacing: -0.5px;
  }
}
.audience__about {
  margin: 0;
  margin-bottom: 34px;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: #2b292d;
}
.audience__buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .audience__buttons {
    flex-direction: row;
    margin-bottom: 111px;
  }
}

.audience-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 35px;
}
@media screen and (min-width: 1400px) {
  .audience-card {
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2px;
  }
}
.audience-card__decoration {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.audience-card__image {
  max-width: 160px;
  max-height: 195px;
}
.audience-card__audience-card-caption {
  margin-top: 22px;
  margin-bottom: 13px;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
}
.audience-card .audience-card-buttom {
  margin-top: 0;
  margin-bottom: 15px;
  background: #fff;
  color: #2b292d;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
@media screen and (min-width: 1400px) {
  .audience-card .audience-card-buttom {
    margin-bottom: 0;
    width: 300px;
    margin-right: 30px;
  }
}

.advices {
  margin-top: 8px;
}
@media screen and (min-width: 1400px) {
  .advices {
    display: none;
  }
}

.advice {
  padding: 40px 15px 0px 15px;
  border-bottom: 1px solid #e3e3e3;
}
.advice__subtitle {
  font-weight: 700;
  font-size: 22px;
  line-height: 34px;
  color: #009b4d;
}
.advice__title {
  margin: 0;
  margin-top: 17px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.357143px;
}
.advice__description {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
  margin-top: 13px;
}
.advice__decoration {
  margin: 0;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advice__image {
  margin-top: 29px;
}
.advice__image-caption {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  color: #2b292b99;
  margin-top: 20px;
  max-width: 100%;
}

.order {
  padding: 50px 15px;
  background-color: #00a1c612;
}
@media screen and (min-width: 1400px) {
  .order {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.order__details {
  max-width: 555px;
}
.order__image {
  max-width: 200px;
}
@media screen and (min-width: 1400px) {
  .order__image {
    max-width: 269px;
    margin-right: 121px;
  }
}
.order__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.25px;
  margin-top: 40px;
}
.order__text {
  margin: 0;
  font-size: 22px;
  line-height: 32px;
  margin-top: 18px;
}
@media screen and (min-width: 1400px) {
  .order__form {
    display: flex;
    margin-top: 26px;
    align-items: center;
  }
}
.order__email {
  margin-top: 40px;
  background: #ffffff;
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 2px;
  height: 48px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 13px;
}
@media screen and (min-width: 1400px) {
  .order__email {
    margin-top: 0;
  }
}
.order__email::placeholder {
  color: #2B292D;
}
.order__buttom {
  margin-top: 12px;
  width: 100%;
}
@media screen and (min-width: 1400px) {
  .order__buttom {
    display: block;
    margin-top: 0;
    margin-left: 10px;
    width: 160px;
    height: 48px;
  }
}
.order__terms {
  font-size: 14px;
  line-height: 22px;
  color: rgba(43, 41, 45, 0.6);
}
.order__terms-link {
  color: #3040c4;
}

.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}
.footer__description {
  display: none;
  line-height: 26px;
  font-size: 18px;
  width: 360px;
  margin-top: 26px;
  color: #2b292b99;
}
@media screen and (min-width: 1400px) {
  .footer__description {
    display: block;
  }
}
.footer____line {
  border-top: 1px solid #2b292d;
  width: 100%;
  margin: 0;
  opacity: 0.1;
  margin-top: 40px;
}
@media screen and (min-width: 1400px) {
  .footer____line {
    margin: 0px;
  }
}
@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}

.about-company {
  margin-top: 43px;
}

.footer-navigation {
  display: flex;
  margin: 0;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-navigation {
    display: flex;
    margin: 0 auto;
    width: 1140px;
    height: 339px;
    flex-direction: row;
  }
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 1400px) {
  .downloads {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
}
.downloads__items {
  margin-right: 10px;
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .additional-navigation {
    margin-left: auto;
    margin-top: 60px;
    flex-direction: row;
  }
}
.additional-navigation___column {
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .additional-navigation___column {
    margin-top: 0px;
    margin-right: 29px;
  }
}

.nav-links {
  width: 265px;
}
.nav-links___title {
  font-size: 22px;
  line-height: 28px;
  color: #2b292d;
  font-weight: 700;
  margin: 0;
}
.nav-links___list {
  list-style-type: none;
  font-size: 18px;
  line-height: 30px;
  color: #2b292b99;
  margin: 0;
  padding: 0;
  margin-top: 18px;
}

.userful-link {
  width: 1140px;
  height: 338px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  .footer-links {
    height: 50px;
    margin: 0 auto;
    width: 1140px;
    flex-direction: row;
    align-items: center;
  }
}

.terms {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
}
@media screen and (min-width: 1400px) {
  .terms {
    font-size: 14px;
    line-height: 50px;
    margin-top: 0px;
  }
}
.terms__item {
  text-decoration: none;
  color: #2b292d;
  opacity: 60%;
  margin-right: 22px;
}

.logo-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1400px) {
  .logo-vertical {
    display: none;
  }
}
.logo-vertical__image {
  width: 60px;
  height: 60px;
}
.logo-vertical__name {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  margin-top: 20px;
}
.logo-vertical__description {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: rgba(43, 41, 45, 0.6);
}

.social-links {
  margin-top: 30px;
  margin-bottom: 23px;
}
@media screen and (min-width: 1400px) {
  .social-links {
    margin-left: auto;
    margin-bottom: 0px;
  }
}
.social-links__item {
  margin-right: 20px;
}
.social-links__item:last-child {
  margin-left: 0px;
}

@media screen and (max-width: 1399px) {
  .footer .logo {
    display: none;
  }
}
* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  overflow-x: hidden;
}
@media screen and (min-width: 1400px) {
  .page {
    display: flex;
    flex-direction: column;
    width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}

@media screen and (max-width: 1399px) {
  .hide_mobile {
    display: none;
  }
}