.action-buttom {
  height: 48px;
  width: 100%;
  background-color: #3040c4;
  font-size: 18px;
  color: #ffffff;
  line-height: 13px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  padding: 17px 28px 18px 28px;
}

@media screen and (min-width: 400px) {
  .action-buttom {
    height: 48px;
    width: 160px;
    background-color: #3040c4;
    font-size: 18px;
    color: #ffffff;
    line-height: 13px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
    padding: 17px 28px 18px 28px;
  }
}
