.footer {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  &__description {
    display: none;
    line-height: 26px;
    font-size: 18px;
    width: 360px;
    margin-top: 26px;
    color: $text-color-light-grey;
    @include for-large-up {
      display: block;
    }
  }
  &____line {
    border-top: 1px solid #2b292d;
    width: 100%;
    margin: 0;
    opacity: 0.1;
    margin-top: 40px;
    @include for-large-up {
      margin: 0px;
    }
  }
  .logo {
    @include for-large-down {
      display: none;
    }
  }
}

.about-company {
  margin-top: 43px;
}

.footer-navigation {
  display: flex;
  margin: 0;
  flex-direction: column;
  @include for-large-up {
    display: flex;
    margin: 0 auto;
    width: 1140px;
    height: 339px;
    flex-direction: row;
  }
}

.downloads {
  margin: 25px 15px 0 15px;
  display: flex;
  justify-content: center;
  @include for-large-up {
    margin: 0;
    margin-top: 25px;
    justify-content: left;
  }
  &__items {
    margin-right: 10px;
  }
}

.additional-navigation {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  @include for-large-up {
    margin-left: auto;
    margin-top: 60px;
    flex-direction: row;
  }
  &___column {
    margin-top: 30px;
    @include for-large-up {
      margin-top: 0px;
      margin-right: 29px;
    }
  }
}

.nav-links {
  width: 265px;
  &___title {
    font-size: 22px;
    line-height: 28px;
    color: #2b292d;
    font-weight: 700;
    margin: 0;
  }
  &___list {
    list-style-type: none;
    font-size: 18px;
    line-height: 30px;
    color: $text-color-light-grey;
    margin: 0;
    padding: 0;
    margin-top: 18px;
  }
}

.userful-link {
  width: 1140px;
  height: 338px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  margin-left: 15px;
  flex-direction: column;
  @include for-large-up {
    height: 50px;
    margin: 0 auto;
    width: 1140px;
    flex-direction: row;
    align-items: center;
  }
}

.terms {
  font-size: 14px;
  line-height: 22px;
  margin-top: 30px;
  @include for-large-up {
    font-size: 14px;
    line-height: 50px;
    margin-top: 0px;
  }
  &__item {
    text-decoration: none;
    color: #2b292d;
    opacity: 60%;
    margin-right: 22px;
  }
}
  .logo-vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
  
    @include for-large-up {
      display: none;
    }
  
    &__image{
      width: 60px;
      height: 60px;
    }
    
    &__name{
      font-weight: bold;
      font-size: 20px;
      line-height: 25px;
      text-align: center;
      margin-top: 20px;
    }
    
    &__description{
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      color: rgba(43, 41, 45, 0.6);
    }
  }

  .social-links {
    margin-top: 30px;
    margin-bottom: 23px;
    @include for-large-up {
      margin-left: auto;
      margin-bottom: 0px;
    }
    &__item {
      margin-right: 20px;
      &:last-child {
        margin-left: 0px;
      }
    }
  }



  
  @include for-large-down {
    .footer .logo{
      display: none;
    }
  }
