.headline {
  width: 100%;
}

.headline__content {
  margin: 35px 15px 24px 15px;
}

.headline__title {
  height: 205px;
  width: 290px;
  font-weight: 700;
  font-size: 50px;
  line-height: 50px;
  letter-spacing: -0.3125px;
}

.headline__learn-more-buttom {
  height: 48px;
  width: 158px;
  background-color: #ffffff;
  font-size: 18px;
  color: #3040c4;
  line-height: 13px;
  font-weight: 700;
  border-radius: 2px;
  border: none;
  margin-top: 15px;
}

.headline__action-btn {
  width: 100%;
}

.headline__banner {
  width: 100%;
  margin-bottom: 36px;
}

.headline__description {
  margin-top: 24px;
  margin-bottom: 0;
  font-size: 24px;
  line-height: 34px;
}

.headline__action {
  margin-top: 30px;
}

@media screen and (min-width: 400px) {
  .headline {
    position: relative;
    width: 1140px;
    margin: auto;
    margin-top: 84px;
    display: flex;
    padding-bottom: 77px;
  }

  .headline__content {
    position: absolute;
    z-index: 1;
  }

  .headline__title {
    height: 165px;
    width: 754px;
    font-weight: bold;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin: 0;
    z-index: 1;
  }
  .headline__description {
    margin-top: 34px;
    width: 456px;
    height: 102px;
    font-size: 24px;
    line-height: 34px;
    z-index: 1;
  }

  .headline__action {
    margin-top: 58px;
    display: flex;
  }

  .headline__learn-more-buttom {
    margin: 0;
    margin-left: 10px;
  }

  .headline__learn-more-buttom {
    margin-left: 10px;
    height: 48px;
    width: 158px;
    background-color: #ffffff;
    font-size: 18px;
    color: #3040c4;
    line-height: 13px;
    font-weight: 700;
    border-radius: 2px;
    border: none;
  }

  .headline__banner {
    position: relative;
    right: -105px;
    width: 796px;
    height: 448px;
    top: 0;
    margin-left: auto;
  }
}
