@import 'breakpoints.scss';
@import 'common.scss';
@import 'variables.scss';
@import 'header.scss';
@import 'headline.scss';
@import 'about.scss';
@import 'customers.scss';
@import 'features.scss';
@import 'audiences.scss';
@import 'advices.scss';
@import 'order.scss';
@import 'footer.scss';

* {
  box-sizing: border-box;
}
html {
  font-family: 'Work Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: $text-color-main;
}

.page {
  width: 100%;

  @include for-large-up {
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
  }
}
