.order {
  padding: 50px 15px;
  background-color: $background-color-blue-light;
  @include for-large-up {
    padding: 73px 0 72px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  &__details {
    max-width: 555px;
  }
  &__image {
    max-width: 200px;
    @include for-large-up {
      max-width: 269px;
      margin-right: 121px;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    margin-top: 40px;
  }
  &__text {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    margin-top: 18px;
  }
  &__form {
    @include for-large-up {
      display: flex;
      margin-top: 26px;
      align-items: center;
    }
  }
  &__email {
    margin-top: 40px;
    background: #ffffff;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 2px;
    height: 48px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 13px;
    @include for-large-up {
      margin-top: 0;
    }
    &::placeholder {
      color: #2B292D;
  }
  }
  &__buttom {
    margin-top: 12px;
    width: 100%;
    @include for-large-up {
      display: block;
      margin-top: 0;
      margin-left: 10px;
      width: 160px;
      height: 48px;
    }
  }
  &__terms {
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
  }
  &__terms-link {
    color: #3040c4;
  }
}
